bin\
obj\
bin/
obj/
.vs/
packages/
ConsoleReadParseSort/bin/
ConsoleReadParseSort/obj/
ReadParseSort.UnitTest/bin/
ReadParseSort.UnitTest/obj/
ReadParseSort.UnitTests/bin/
ReadParseSort.UnitTests/obj/
ReadParseSort/bin/
ReadParseSort/obj/
RestReadParseSort/bin/
RestReadParseSort/obj/
RestReadParseSort.UnitTests/bin/
RestReadParseSort.UnitTests/obj/
